<script>
    /*var info = $('<p/>')
        .append('<span lang="en">Write access to external memory card required</span>')
        .append('<span lang="ru">Нужны права для записи на внешний накопитель</span>')
        .append('<span lang="az">Xarici yaddaşa yazmaq üçün icazə tələb olunur</span>');
    $('#write_required_head').append(translate(info));

    var guide = $('<p/>')
        .append('<span lang="en">Click the button below to grant the access</span>')
        .append('<span lang="ru">Нажмите на кнопку ниже, чтобы дать разрешение</span>')
        .append('<span lang="az">İcazə vermək üçün aşağıdakı düyməyə basın</span>');
    $('#steps').append(translate(guide));*/
    var info = $('<p/>')
        .append('<span lang="en">You don\'t have permission to write into external memory card</span>')
        .append('<span lang="ru">У вас недостаточно прав для записи на внешний накопитель</span>')
        .append('<span lang="az">Xarici yaddaşa yazmaq üçün hüququnuz çatmır</span>');
    $('#write_required_head').append(translate(info));

</script>
<div id="write_required_dialog">
    <h1 id="write_required_head"></h1>
</div>