* {
	padding: 0;
	margin: 0;
}

body, html {
	position: relative;
	width: 100%;
	height: 100%;
}

.disabled {
	pointer-events: none;
	opacity: 0.2;
}

.content {
	height: calc(100% - 121px); /* 90 for header + 31 for footer */
	width: 100%;
	display: block;
	position: relative;
}

/*--- LEFT BAR ---*/

.left-bar {
	width: 18%;
	height: 100%;
	float: left;
}

	/*--- DROPZONE ---*/
#dropzone {
    margin-bottom: 3rem;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropzone .dz-message {
    font-weight: 400;
}
	/*--- DROPZONE END ---*/

/*--- LEFT BAR END ---*/

.bound {
	position: absolute;
	width: calc(100% - 27px); /* 10px for padding and 17 for scrollbar */
	height: 50px;
	background: transparent;
	z-index: 3;
}

.upper-bound {
	top: 0;
	border-bottom: 1px solid #E9E9E9;
	padding: 0 5px;
}

.right-bar {
	width: 82%;
	height: 100%;
	float: right;
	background: cadetblue;
	position: relative;
}

#storage-content {
	padding: 50px 0;
	width: 100%;
	height: calc(100% - 100px); /* 50 + 50 paddings */
	background: rgb(255,255,255);
	overflow-y: scroll;
	position: relative;

}

.noselect, .noselect *{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

.mouse-selection {
	background: cadetblue;
	opacity: 0.4;
	border: 1px solid rebeccapurple;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	z-index: 10;
}

.select {
	-webkit-touch-callout: default; /* iOS Safari */
	-webkit-user-select: text; /* Safari */
	-khtml-user-select: text; /* Konqueror HTML */
	-moz-user-select: text; /* Firefox */
	-ms-user-select: text; /* Internet Explorer/Edge */
	user-select: text; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

.storage-hierarchy {
	height: 50%;
	width: 100%;
	overflow-y: scroll;
}

.drop-zone {
	height: 50%;
	width: 100%;
}



/*--- HEADER ----*/
#header {
	height: 79px;
	width: calc(100% - 10px);
	padding: 5px;
	position: relative;
	z-index: 90;
	border-bottom: 1px solid #E9E9E9;
	background: #F5F6F7;
}

.tools {
	width: 100%;
	list-style: none;
	position: relative;
	display: block;
}

.tool-item {
	float: left;
	width: 70px;
	padding: 2px;
	height: 100%;
	margin: 0 8px;
	text-align: center;
}

.tool-item:hover {
	cursor: pointer;
	box-shadow: 1px 1px 2px #424242;
}

.tool-item:active {
	box-shadow: none;
	border: 1px solid #424242;
	margin: 0 7px;
}

.tools .btn-rename {
	width: 100px;
	margin-right: 8px;
	margin-left: 15px;
}

.tools .btn-copy {
	margin-right: 10px;
}

.tool-item p {
	overflow-x: visible;
	white-space: nowrap;
	font-size: 0.9em;
}

.fb-like {
	position: absolute;
	float: right;
	right: 10px;
	top: 25px;
}
/*--- HEADER END ----*/

/*---- FILE ----*/

/*---- LOADING ----*/
#loading {
    text-align:center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -3em;
}
@keyframes loading {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: .2;
    transform: scale(0.3);
  }
}

#loading span {
    display:inline-block;
    width:1em;
    height:1em;
    border-radius:50%;
    background:#3498DB;
    margin:.5em;
    opacity:.2;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: scale(0.3);
}

#loading span:nth-child(2) {
    animation-delay: .1s;
}
#loading span:nth-child(3) {
    animation-delay: .2s;
}
#loading span:nth-child(4) {
    animation-delay: .3s;
}
/*---- LOADING END ----*/

.file-holder {
	width: 140px;
	height: 140px;
	float: left;
	margin: 20px;
	text-align: center;
	overflow: hidden;
}

.file-holder p {
	max-width: 140px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: absolute;
	width: 140px;
}

.file {
	width: 72px;
	height: 102px;
	background: darkcyan;
	margin: 15px 34px 0 34px;
}

.folder {
	width: 120px;
	height: 90px;
	margin: 15px 10px 0 10px;
}

.file-holder:hover {
	background: rgba(50,153,187, 0.15);
	/*width: 138px;
	height: 138px;*/
}

.selected {
	background: rgba(50,153,187, 0.6);
}

.selected:hover {
	background: rgba(50,153,187, 0.6);
}

.selected:hover, .last-selected {
	border: 1px solid rgba(50,153,187, 1);
	margin: 19px;
}

.last-selected, .last-selected p {
    white-space: normal;
    word-wrap: break-word;
    overflow: visible;
}

.selected .file, .last-selected .file {
}

.cut {
	opacity: 0.4;
}

.cut.last-selected {
	border: 1px dashed rgba(50,153,187, 1);
}

	/*---- ICONS ----*/
/* Generated by http://css.spritegen.com CSS Sprite Generator */

.folder, .css, .djvu, .doc, .docx, .exe,
.file, .gif, .java, .jar, .jpg, .JPG, .js,
.mp3, .MP3, .aac, .wav, .WAV, .mp4, .MP4, .flv, .mov, .avi, .pdf, .PDF, .php, .ppt, .pptx,
.psd, .PSD, .torrent, .txt, .xls, .xlsx, .xml,
.zip, .rar, .tar, #copy-tool-item, #cut-tool-item, #delete-tool-item, #download-tool-item,
#new-folder-tool-item, #paste-tool-item, #rename-tool-item, #zip-download-tool-item, #zip-tool-item
{ display: inline-block; background: url('../images/icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.file { background-position: -1px -503px; width: 72px; height: 102px; }
.folder { background-position: -1px -0px; width: 120px; height: 90px; }
.css { background-position: -1px -91px; width: 72px; height: 102px; }
.djvu { background-position: -1px -194px; width: 72px; height: 102px; }
.doc, .docx { background-position: -1px -297px; width: 72px; height: 102px; }
.exe { background-position: -1px -400px; width: 72px; height: 102px; }
.gif { background-position: -1px -606px; width: 72px; height: 102px; }
.java, .jar { background-position: -1px -709px; width: 72px; height: 102px; }
.jpg { background-position: -1px -812px; width: 72px; height: 102px; }
.js { background-position: -1px -915px; width: 72px; height: 102px; }
.mp3, .aac, .wav { background-position: -1px -1018px; width: 72px; height: 102px; }
.mp4, .flv, .mov, .avi { background-position: -1px -1121px; width: 72px; height: 102px; }
.pdf { background-position: -1px -1224px; width: 72px; height: 102px; }
.php { background-position: -1px -1327px; width: 72px; height: 102px; }
.ppt, .pptx { background-position: -1px -1430px; width: 72px; height: 102px; }
.psd { background-position: -1px -1533px; width: 72px; height: 102px; }
.torrent { background-position: -1px -1636px; width: 72px; height: 102px; }
.txt { background-position: -1px -1739px; width: 72px; height: 102px; }
.xls, .xlsx { background-position: -1px -1842px; width: 72px; height: 102px; }
.xml { background-position: -1px -1945px; width: 72px; height: 102px; }
.zip, .rar, .tar { background-position: -1px -2048px; width: 72px; height: 102px; }
#copy-tool-item { background-position: -74px -91px; width: 40px; height: 40px; }
#cut-tool-item { background-position: -74px -132px; width: 40px; height: 40px; }
#delete-tool-item { background-position: -74px -173px; width: 40px; height: 40px; }
#download-tool-item { background-position: -74px -214px; width: 40px; height: 40px; }
#new-folder-tool-item { background-position: -74px -255px; width: 40px; height: 40px; }
#paste-tool-item { background-position: -74px -296px; width: 40px; height: 40px; }
#rename-tool-item { background-position: -74px -337px; width: 40px; height: 40px; }
#zip-download-tool-item { background-position: -74px -378px; width: 40px; height: 40px; }
#zip-tool-item { background-position: -74px -419px; width: 40px; height: 40px; }
	/*---- ICONS END ----*/






/*---- FILE END ----*/


/*---- MENU ----*/
.menu {
	position: absolute;
	min-width: 140px;
	list-style: none;
	-webkit-box-shadow: 1px 1px 2px #424242;
	-moz-box-shadow: 1px 1px 2px #424242;
	box-shadow: 1px 1px 2px #424242;
	padding: 10px 0;
	background: #E9E9E9;
	border-radius: 1px;
	z-index: 20;
	display: none;
}

.menu li {
	padding: 1px 20px;
}

.menu li:hover {
	background: #BCBCBC;
	cursor: pointer;
}

.menu li:active {
	background: #3299BB;
}

	/*---- CONTEXT MENU ----*/
#context-menu {
	text-align: center;
}
	/*---- CONTEXT MENU END ----*/

	/*---- SORT MENU ----*/
#sort-by-menu {
	top: 100%;
	left: 20px;
}
	/*---- SORT MENU END ----*/

/*---- MENU END ----*/

/*.file-holder:hover .file {
	margin: 14px 29px 0 29px;
}*/

.fixed-bound {
	animation: aama 1.0s forwards;
	-webkit-animation: aama 1.0s forwards; /* for less modern browsers */
}

.hidden-bound {
	-webkit-animation: back 0.5s forwards; /* for less modern browsers */
	animation: back 0.5s forwards;
}

@keyframes aamama {
	from { opacity: 0; }
	to {
	opacity: 1;
	width: calc(100% - 27px);
	height: 50px;
	}
}

@keyframes back {
	from { opacity: 1 }
	to {
	opacity: 0;
	width: 0;
	height: 0;
	}
}

.bound-tools {
	height: 40px;
	list-style: none;
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -20px;
}

.bound-item {
	float: left;
	background: lightcoral;
	margin: 0 5px;
	padding: 5px 5px;
}

.bound-overlay {
	background: #E9E9E9;
}

/*---- SORT ----*/

.sort-item {
	text-align: center;
}

.arrow {
	width: 12px;
	height: 12px;
	position: relative;
	display: inline-block;
	margin: 10px 10px;
}

.arrow-up {
	-webkit-animation: arrow-up 1s forwards;
	-o-animation: arrow-up 1s forwards;
	animation: arrow-up 1s forwards;
}

.arrow-down {
	-webkit-animation: arrow-down 1s forwards;
	-o-animation: arrow-down 1s forwards;
	animation: arrow-down 1s forwards;
}

.arrow:before, .arrow:after {
	content: '';
	border-color: transparent;
	border-style: solid;
	position: absolute;
}

.arrow:before {
	border: none;
	background-color: #555;
	height: 50%;
	width: 30%;
	top: 50%;
	left: 35%;
}
.arrow:after {
	left: 0;
	top: -50%;
	border-width: 6px 6px;
	border-bottom-color: #555;
}

/*---- ARROW KEYFRAMES ---- */


/* ---- ARROW UP KEYFRAME ---- */
@-webkit-keyframes arrow-up {
	from {
		-webkit-transform: rotate(180deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-o-keyframes arrow-up {
	from {
		-o-transform: rotate(180deg);
	}
	to {
		-o-transform: rotate(0deg);
	}
}

@-moz-keyframes arrow-up {
	from {
		-moz-transform: rotate(180deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}

@keyframes arrow-up {
	from {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(0deg);
	}
}

/* ---- ARROW UP KEYFRAME END ---- */


/* ---- ARROW DOWN KEYFRAME ---- */

@-webkit-keyframes arrow-down {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(180deg);
	}
}

@-o-keyframes arrow-down {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(180deg);
	}
}

@-moz-keyframes arrow-down {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(180deg);
	}
}

@keyframes arrow-down {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

/* ---- ARROW DOWN KEYFRAME END ---- */

/*---- ARROW KEYFRAMES END ---- */


.button-group button {

	position: absolute;
	height: 40px;
	top: 50%;

	margin-top: -20px;
	background: transparent;
	border: none;
	color: #424242;

}

.button-group button:hover {
	cursor: pointer;
	background: #E9E9E9;
	box-shadow: 1px 1px 2px #424242;
}

.button-group button:active {
	background: #3299BB;
	box-shadow: 1px 2px 2px #BCBCBC;
}

#sort-by-btn {
	width: 100px;
	left: 20px;
}

#order-btn {
	width: 40px;
	left: 120px;
	border: none;
}

/*---- SORT END ----*/



/*---- FOOTER ----*/

#footer {
    clear: both;
	color: #222;
	height: 30px;
	width: 100%;
	border-top: 1px solid #E9E9E9;
	position: relative;
}

.footer-info {
	height: 20px;
	margin: 5px 20px;
}

.file-info {
    float: left;
}

.descriptor-container {
    width: 30%;
    height: 30px;
    overflow: hidden;
}

.anti-horizontal-scroll {
    width: 99%;
    height: 60px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.horizontal {
    width: 1000px;
}
	/*---- LOAD BAR ----*/

#load-bar {
    float: right;
	margin: 7px 20px;
	width: 20%;
	height: 14px;
	border: 1px solid #2980b9;
	border-radius: 3px;
	background-image:
	repeating-linear-gradient(
		-45deg,
		#3299BB,
		#3299BB 11px,
		#eee 10px,
		#eee 14px /* determines size */
	);
	background-size: 17px 17px;
	animation: move .5s linear infinite;
	cursor: pointer;
}

@keyframes move {
	0% {
	background-position: 0 0;
	}
	100% {
	background-position: 17px 0;
	}
}

	/*---- LOAD BAR END ----*/

/*---- FOOTER END ----*/

/*---- NOTIFICATION PANEL ----*/
.notif {
	position: absolute;
	bottom: 30px;
	right: 20px;
	height: calc(60% - 60px);
	width: 35%;
	overflow-y: scroll;
	background: #F5F6F7;
	opacity: 0.95;

}

.opened {
    z-index: 99;
    bottom: 30px;
    padding: 5px;
    border: 1px solid #E9E9E9;
    transition: height 0.3s;
}

.closed {
    height: 0;
    padding: 0;
    border: none;
    transition: height 0.3s, padding 0.4s, border 0.4s;
}

    /*---- TASK ----*/

.round-button {
	position: absolute;
    width:40px;
    height:40px;
		right: 1px;
		top: 50%;
		margin-left: -20px;
		margin-top: -45px;
    line-height:40px;
    border: 1px solid #444;
    border-radius: 50%;
    color:#444;
    text-align:center;
    text-decoration:none;
    background: #eee;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    cursor: pointer;
}
.round-button:hover {
    background: #ccc;
}

.done-button {
	color: #5FBB3E;
}

.cancelled-button {
	color: #E93E30;
}

.value {
	text-overflow: ellipsis;
	width: 100%;
}

.task {
	white-space: nowrap;
	position: relative;
	height: 110px;
	width: 100%;
	margin-top: 10px;
	border-bottom: 1px solid #8F8E8E;
}

.task .details {
    width: calc(100% - 54px);
}

.task p {
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.1;
}
	/*--- Progress Bar ---*/
.progress {
	position: relative;
	height: 4px;
	display: block;
	width: 100%;
	background-color: #acece6;
	border-radius: 2px;
	background-clip: padding-box;
	margin: 0.5rem 0 1rem 0;
	overflow: hidden;

}
.progress .determinate {
	position: absolute;
	background-color: inherit;
	top: 0;
	bottom: 0;
	background-color: #26a69a;
	transition: width .3s linear;
}

.progress .indeterminate {
	background-color: #26a69a;
}
.progress .indeterminate:before {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
			animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s;
}

.cancelled-progress {
	background-color: #FF8B82;
}

.cancelled-progress .determinate, .cancelled-progress .indeterminate {
	background-color: #E93E30;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}
@-webkit-keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}
@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}
	/*--- PROGRESS BAR END ---*/

    /*--- TASK END ----*/
/*---- NOTIFICATION PANEL ----*/

    /*--- ALERT ----*/
	.cd-popup-trigger {
	  display: block;
	  width: 170px;
	  height: 50px;
	  line-height: 50px;
	  margin: 3em auto;
	  text-align: center;
	  color: #FFF;
	  font-size: 14px;
	  font-size: 0.875rem;
	  font-weight: bold;
	  text-transform: uppercase;
	  border-radius: 50em;
	  background: #35a785;
	  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
	}
	@media only screen and (min-width: 1170px) {
	  .cd-popup-trigger {
	    margin: 6em auto;
	  }
	}

	/* --------------------------------

	xpopup

	-------------------------------- */
	.cd-popup {
	  position: fixed;
	  left: 0;
	  top: 0;
	  height: 100%;
	  width: 100%;
	  background-color: rgba(126, 125, 125, 0.8);
	  opacity: 0;
	  z-index: 101;
	  visibility: hidden;
	  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	  transition: opacity 0.3s 0s, visibility 0s 0.3s;
	}
	.cd-popup.is-visible {
	  opacity: 1;
	  visibility: visible;
	  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	  transition: opacity 0.3s 0s, visibility 0s 0s;
	}

	.cd-popup-container {
    padding: 20px;
	  position: relative;
	  max-width: 90%;
		min-width: 400px;
	  margin: 4em auto;
	  background: #FFF;
	  border-radius: .25em .25em .4em .4em;
	  text-align: center;
	  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	  -webkit-transform: translateY(-40px);
	  -moz-transform: translateY(-40px);
	  -ms-transform: translateY(-40px);
	  -o-transform: translateY(-40px);
	  transform: translateY(-40px);
	  /* Force Hardware Acceleration in WebKit */
	  -webkit-backface-visibility: hidden;
	  -webkit-transition-property: -webkit-transform;
	  -moz-transition-property: -moz-transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.3s;
	  -moz-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	}

	.cd-button {
		display: inline-block;
		cursor: pointer;
		margin: 3px;
		background: #453E3C;
		border-radius: 30px;

	}

	.cd-button:hover {
		background: rgb(226, 96, 56);
	}

	.cd-popup-container .cd-buttons div {
		width: 150px;
	}
	.cd-popup-container .cd-buttons div {
	  height: 60px;
	  line-height: 60px;
	  text-transform: uppercase;
	  color: #FFF;
	  -webkit-transition: background-color 0.2s;
	  -moz-transition: background-color 0.2s;
	  transition: background-color 0.2s;
	}


	.cd-popup-container .cd-popup-close {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
	  content: '';
	  position: absolute;
	  top: 12px;
	  width: 14px;
	  height: 3px;
	  background-color: #8f9cb5;
	}
	.cd-popup-container .cd-popup-close::before {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	  left: 8px;
	}
	.cd-popup-container .cd-popup-close::after {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	  right: 8px;
	}
	.is-visible .cd-popup-container {
	  -webkit-transform: translateY(0);
	  -moz-transform: translateY(0);
	  -ms-transform: translateY(0);
	  -o-transform: translateY(0);
	  transform: translateY(0);
	}
	@media only screen and (min-width: 1170px) {
	  .cd-popup-container {
	    margin: 8em auto;
	  }
	}

	.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.cd-popup-container p {
  padding: 1em 1em;
}

.cd-popup-container .name-editor-box {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.cd-popup-container .error-msg {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin: 10px;
    word-wrap: break-word;
}

.cd-popup-container .message {
	margin: 10px;
	word-wrap: break-word;
}

#positive {
    background: #b71c1c;
}
#positive:hover {
    background: #fc8982;
}

#negative {
    background: #b6bece;
}

#negative:hover {
    background: #c5ccd8;
}
    /*---- ALERT END ----*/

/*---- NOTIFICATION PANEL END ----*/
